{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>江湖群侠传</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/0.11.2/js/jquery.terminal.min.js"></script>
        
        <!-- CSS -->
        <link href="{% static 'css/jquery.terminal.min.css' %}" rel="stylesheet"/>
    </head>

    <body style="margin:0px">
        <div id="term" style="height:100vh; padding:0px; padding-left:10px; padding-top:10px"></div>
    </body>
    <script>
        function loginFunc(name, password, callback) {
            $.ajax({type: 'POST', data: {
                    'user': name,
                    'password': password}, 
                url: "http://localhost:8000/backend/login/", 
                success: function(result){
                    if (result.code){
                        $.terminal.active().echo("[[;red;]"+result.msg+"]");
                        callback(true);
                        $.terminal.active().pop();
                    }else{
                        $.terminal.active().error(result.msg);
                        callback(false);
                    }
                },
            });
        }
        function regFunc(name, password, callback) {
            $.ajax({type: 'POST', data: {
                    'user': name,
                    'password': password, 
                    csrfmiddlewaretoken: '{{ csrf_token }}',}, 
                url: "http://localhost:8000/backend/reg/", 
                success: function(result){
                    if (result.code){
                        $.terminal.active().echo("[[;red;]"+result.msg+"]");
                        setTimeout(function(){window.location.href  = "http://localhost:8000/login/";}, 1000);
                        callback(true);
                    }else{
                        $.terminal.active().error(result.msg);
                        callback(false);
                    }
                },
            });
        }

        // function authFunc(term, result){
        //     var state = result.redir=='login'?'login':'register';
        //     term.push({}, {
        //         login: result.redir=='login'?loginFunc:regFunc,
        //         prompt: state + ' > ',
        //         name: state,
        //         keydown: function(e) {
        //             //disable keyboard when animating
        //                 if(e.KeyCode == 27) {
        //                     $.terminal.active().pop();
        //                 }
        //             }});
        // }

        function authFunc(term, result){
            var state = result.redir=='login'?'login':'register';
            term.push(function(command, term) {
                if (command != '') {
                    var history = term.history();
                    history.disable();
                    name = command;
                    term.set_mask(true);
                    term.push(function(command, term){
                        if (command != '') {
                            $.ajax({type: 'POST', data: {
                                'user': name,
                                'password': command, 
                                csrfmiddlewaretoken: '{{ csrf_token }}',}, 
                                url: "http://localhost:8000/backend/login/", 
                                success: function(result){
                                    if (result.code){
                                        term.echo("[[;red;]"+result.msg+"]");
                                    }else{
                                        term.error(result.msg);
                                    }
                                    term.pop();
                                    history.enable();
                                    term.pop();
                                },
                            });
                        } else {
                        }

                    }, {
                        prompt: '请输入密码: ',
                        mask: true,
                    });

                } else {
                   term.echo('');
                }
            }, {
                prompt: '请输入用户名: ',
                name: state,
                keydown: function(e) {
                    if(e.which == 27) {
                        $.terminal.active().pop();
                    }
                }});
        }

        jQuery(function($, undefined) {
            var sent = false;
            $('#term').terminal(function(command, term) {
                if (command != '') {
                    try {
                        // var result = window.eval(command);
                        sent = true;
                        $.ajax({type: 'POST', data: {
                                'command': command, 
                                'terminal': term.name(),
                                csrfmiddlewaretoken: '{{ csrf_token }}',}, 
                            url: "http://localhost:8000/backend/", 
                            success: function(result){
                                term.echo(result.msg);
                                if (result.redir) {
                                    authFunc(term, result);
                                }
                                sent = false;},
                        });
                    } catch(e) {
                        term.error(new String(e));
                    }
                } else {
                   term.echo('');
                }
            }, {
                greetings: '欢迎来到江湖群侠转！',
                name: 'main',
                height: $('#term').height,
                prompt: '> ',
                completion: ['login', 'logout', 'exit', 'register'],
                keydown: function(e) {
                //disable keyboard when animating
                    if(sent) {
                        return false;
                    }
                }
            });
        });
</script>
</html>
